/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}



/****** Main Styling ******/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}



/****** Features ******/
.features p {
    font-size: 18px;
}



/****** Manga/Add ******/
.manga {
    margin: 40px;
}

.manga img {
    border: 1px solid #ddd;
    margin: 10px auto 0 auto;
}

.manga-add, .manga-delete {
    border-radius: 0;
    margin-top: 15px;
}

.manga-search {
    margin-bottom: 20px;
}

.manga-template {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.manga-labels {
    margin: 40px;
}

.manga-info {
    font-size: 14px;
}

#addModal p {
    font-size: 14px;
}

#addModal h4 {
    margin-top: 0;
}



/****** Manga/Collection ******/
.manga-collection > div {
    padding: 0 15px 30px 15px;
}

.manga-container {
    border: 1px solid #ccc;
    padding: 10px;
}

.manga-collection-delete {
    border-radius: 0;
    font-size: 10px;
    position: absolute;
    right: 15px;
    top: 0;
}

.manga-collection-edit {
    border-radius: 0;
    font-size: 10px;
    position: absolute;
    right: 48px;
    top: 0;
}



/****** Trade/Select ******/
.volume-checkbox {
    margin-right: 15px;
}



/****** Footer ******/
footer {
	margin: 100px 0 15px 0;
}



/****** Others ******/
.border-red {
    border: 1px solid #f3a1a1;    
}

.hidden {
    display: none !important;
}

.margin-small-top {
    margin-top: 10px;
}

.margin-medium-top {
    margin-top: 30px;
}

.margin-small-bottom {
    margin-bottom: 10px;
}

.margin-medium-bottom {
    margin-bottom: 30px;
}

.show {
    display: block !important;
}

.text-small {
    font-size: 16px !important;
}

.titlecase {
    text-transform: capitalize;
}

[ng-cloak] {
    display: none !important;
}