/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/Roboto-Medium.ttf') format('truetype');
}



/****** Main Styling ******/
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}



/****** Features ******/
.features p {
    font-size: 18px;
}



/****** Manga/Add ******/
.manga {
    margin: 40px;
}

.manga img {
    border: 1px solid #ddd;
    margin: 10px auto 0 auto;
}

.manga-add, .manga-delete {
    border-radius: 0;
    margin-top: 15px;
}

.manga-search {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.manga-add-labels {
    margin: 40px;
}

.manga-info {
    font-size: 14px;
}


/****** Footer ******/
footer {
	margin: 100px 0 15px 0;
}



/****** Others ******/
.hidden {
    display: none !important;
}

.margin-small-top {
    margin-top: 10px;
}

.show {
    display: block !important;
}

.text-small {
    font-size: 16px !important;
}

[ng-cloak] {
    display: none !important;
}